html, body {
    font-size: 16px;
    color: #ffffff; /* Text color set to white */
    background-color: #EDDFE0;
}

a {
    color: #00d1b2;
}

a:hover {
    color: #00d1b2;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* About Me Section */
.section-1 {
    background-color: #030637; /* Updated to #030637 */
}

/* Skills Section */
.section-2 {
    background-color: #3C0753; /* Updated to #3C0753 */
}

/* Projects Section */
.section-3 {
    background-color: #720455; /* Updated to #720455 */
}

/* Socials Section */
.section-4 {
    background-color: #910A67; /* Updated to #910A67 */
    padding: 0.2rem;
}

a.nav-item {
    color: #ffffff; /* Changed nav-item text color to white */
}

a.nav-item:hover {
    color: #fff; /* Keep hover effect as white */
}

.avatar {
    height: 200px;
    border-radius: 50%;
}

.intro-description {
    padding-top: 1rem;
}

.social-container img {
    max-width: 100%;
    max-height: 175px;
    margin-bottom: 15px;
}

.project-figure {
    margin: 0 auto 1rem auto;
    max-height: 256px;
    max-width: 256px;
}

.project-text {
    text-align: justify;
}

.box {
    background-color: transparent;
    border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
    color: #fff; /* Keep title color as white */
    text-align: left;
    margin-bottom: 2rem;
}

.intro {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.void-background {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #EDDFE0;
    }

    .nav-toggle:hover {
        background-color: transparent;
    }

    .nav-toggle span {
        background-color: #dfdfdf;
    }

    .nav-toggle span:hover {
        background-color: #fff;
    }
}
